.banner img {
    opacity: 0.5;
}

/* .banner img.celebration {
    opacity: 1;
} */

.banner {
    background-color: black;
    position: relative;
    text-align: center;
    color: white;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.centered_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.photo_author{
    font-size: 0.7rem;
    color: white;
}

.photo_author:hover {
    color: white;
}

.photo_author:visited {
    color: white;
}

.form {
    padding: 1.5rem;
}

.form_checkbox_header {
    font-weight: bold;
}

.smash_button {
    font-weight: 500;
}

.loader_wrapper {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
    background-color: black;
}

.spinner_wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.looking_text{
    font-weight: 500;
    z-index: 1000;
    font-size: 1.4rem;
    color: white;
    vertical-align: top;
}

@media screen and (max-width: 768px) {
    .cover-heading {
        font-size: 1.9rem;
    }
    .cover-subheading {
        font-size: 0.9rem !important;
    }
}

@media screen and (max-width: 555px) {
    .cover-subheading {
        display: none;
    }
}
