.banner img {
    opacity: 0.5;
}

.banner {
    background-color: black;
    position: relative;
    text-align: center;
    color: white;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.centered_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.photo_author{
    font-size: 0.7rem;
    color: white;
}

.photo_author:hover {
    color: white;
}

.photo_author:visited {
    color: white;
}

.form {
    padding: 1.5rem;
}

.form_checkbox_header {
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .cover-heading {
        font-size: 1.9rem;
    }
    .cover-subheading {
        font-size: 0.9rem !important;
    }
}

@media screen and (max-width: 555px) {
    .cover-subheading {
        display: none;
    }
}
